workspace/.metadata/*
workspace/org.xtext.example.mylang.ide/*
workspace/org.xtext.example.mylang.ui/*
workspace/org.xtext.example.mylang/
!workspace/org.xtext.example.mylang/src/org/xtext/example/Mylang.xtext
!workspace/org.xtext.example.mylang/src/org/xtext/example/generator/MylangGenerator.xtexd
test_workspace/tests/.project
test_workspace/.metadata/*
workspace/.recommenders/*
*.exe
